.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .App-header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #0078d7;
    text-decoration: underline;
  }
  
  .quick-check-button {
    background: linear-gradient(90deg, #ff6a00, #ff9500); /* Градієнт кольорів */
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px; /* Округлі краї */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease; /* Плавний перехід для ефектів */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тінь для об’єму */
    text-transform: uppercase; /* Великі літери */
  }
  
  .quick-check-button:hover {
    background: linear-gradient(90deg, #ff9500, #ff6a00); /* Зміна напрямку градієнта */
    transform: translateY(-3px); /* Легке піднімання при наведенні */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Глибша тінь при наведенні */
  }
  
  .quick-check-button:active {
    transform: translateY(0); /* Зворотній ефект при натисканні */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Повертаємо попередню тінь */
  }
  
  .quick-check-button:focus {
    outline: none; /* Прибираємо стандартну обводку */
  }